.settings {
    display: flex;
    width: 100%;

    @media (max-width: 600px) {
      .sidebar {
          width: 100%;
          position: fixed; 
          height: 100vh;
          z-index: 3;
      }
  }
  
    .settingsContainer {
      flex: 6;
    }
}

.footerContainer {
  @media (min-width: 900px) and (max-width: 1200px){
    margin-top: 5%;
  }

  @media (min-width: 780px) and (max-width: 900px) {
    margin-top: 10%;
  }

  @media (min-width: 619px) and (max-width: 780px) {
    margin-top: 45%;
  }

  @media (min-width: 450px) and  (max-width: 618px) {
    margin-top: 100%;
  }

  @media (min-width: 368px) and (max-width: 449px) {
    margin-top: 140%;
  }

  @media (max-width: 367px) {
    margin-top: 270%;
  }
}