.datatable {
    height: 600px;
    padding: 20px;
    
    .title{
      width: 100%;
      font-size: 24px;
      color: #00796b;
      margin-top: 30px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link{
        text-decoration: none;
        color: #00796b;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid #00796b;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.4s ease-out;

        &:hover{
            background-color: #00796b;
            color: #fff;
        }
      }
    }
  
    .cellButtons {
      display: flex;
      align-items: center;
      gap: 15px;
      
      .deleteButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: rgb(170, 12, 12);
        border: 1px solid rgba(170, 12, 12, 0.8);
        cursor: pointer;
        transition: background-color 0.4s ease-out;

        &:hover {
            background-color: rgb(170, 12, 12);
            color: #fff;
        }
      }

      .updateButton {
        padding: 2px 5px;
        border-radius: 5px;
        color: rgb(43, 125, 13);
        border: 1px solid rgba(43, 125, 13, 0.8);
        cursor: pointer;
        transition: background-color 0.4s ease-out;

        &:hover {
            background-color: rgb(43, 125, 13);
            color: #fff;
        }
      }
    }
  }