.faq {
    display: flex;
    width: 100%;

    @media (max-width: 600px) {
        .sidebar {
            width: 100%;
            position: fixed; 
            height: 100vh;
            z-index: 3;
        }
    }

    .faqContainer {
        flex: 6;
    }
}